#root {
    padding-top: 2rem;
}

.main-heading {
    text-align: center;
}

.inglist {
    margin-top: 1rem;
}

.inglist a {
    color: white;
    background-color: #007bff;
    border-radius: .25rem;
    display: inline-block;
    padding: .5rem;
    font-size: 24px;
    margin: 0 5px 5px 0;
}

#preview {
    height: 200px;
    overflow: hidden;
    background: #f7f7f7;
}

#previewImg {
    position: relative;
    width: 100%;
    top: -50%;
}

.input {
    margin-top: 1rem;
}

.btn {
    display: block;
}

#preloadergif {
    background: url(/static/loading.gif) no-repeat -9999px -9999px;
}

.hidden {
    display: none;
}

h1.mAYMh {
    margin-top: 3rem;
}

.clear {
    clear: both;
}