.gQDxlH{padding:0;color:#333333;font-weight:700;font-family:"Cabin",sans-serif;font-size:1.6rem;line-height:2.3rem;margin: calc(0.75 * 2.3rem) 0 calc(0.5 * 2.3rem);}
.gQDxlH a{color:inherit;}
@media screen and (min-width:750px){.gQDxlH{font-size:2.0rem;line-height:2.7rem;margin: calc(0.75 * 2.7rem) 0 calc(0.5 * 2.7rem);}}
/* sc-component-id: sc-htpNat */

.bFFMZV{padding:0;color:#333333;font-weight:700;font-family:"Cabin",sans-serif;font-size:1.8rem;line-height:2.5rem;margin: calc(0.75 * 2.5rem) 0 calc(0.5 * 2.5rem);}
.bFFMZV a{color:inherit;}
@media screen and (min-width:750px){.bFFMZV{font-size:2.0rem;line-height:2.7rem;margin: calc(0.75 * 2.7rem) 0 calc(0.5 * 2.7rem);}}
/* sc-component-id: sc-bxivhb */

.gXIIBC{padding:0;color:#333333;font-weight:700;font-family:"Cabin",sans-serif;font-size:2.0rem;line-height:2.7rem;margin: calc(0.75 * 2.7rem) 0 calc(0.5 * 2.7rem);}
.gXIIBC a{color:inherit;}
@media screen and (min-width:750px){.gXIIBC{font-size:2.2rem;line-height:2.7rem;margin: calc(0.75 * 2.7rem) 0 calc(0.5 * 2.7rem);}}
/* sc-component-id: sc-EHOje */

.gprTBr{padding:0;color:#333333;font-weight:700;font-family:"Cabin",sans-serif;font-size:2.2rem;line-height:2.7rem;margin: calc(0.75 * 2.7rem) 0 calc(0.5 * 2.7rem);}
.gprTBr a{color:inherit;}
@media screen and (min-width:750px){.gprTBr{font-size:3.8rem;line-height:6.4rem;margin: calc(0.75 * 6.4rem) 0 calc(0.5 * 6.4rem);}}
/* sc-component-id: sc-dnqmqq */

.kjXGti{text-align:center;display:inline-block;}
/* sc-component-id: sc-iwsKbI */

.hIwNMt{width:80%;border-bottom:0.1rem solid #ff790a;margin-left:auto;margin-right:auto;}
.iACYwb{width:80%;border-bottom:0.1rem solid #ff790a;margin-left:auto;margin-right:auto;border-width:.2rem;}
/* sc-component-id: sc-gZMcBi */

.imDud{padding:0;color:#333333;font-weight:700;font-family:"Cabin",sans-serif;font-size:1.6rem;line-height:2.3rem;margin: calc( * 2.3rem) 0 calc( * 2.3rem);color:#333333;display:block;white-space:nowrap;overflow:hidden;text-transform:uppercase;-webkit-letter-spacing:.03125rem;-moz-letter-spacing:.03125rem;-ms-letter-spacing:.03125rem;letter-spacing:.03125rem;}
.imDud a{color:inherit;}
@media screen and (min-width:750px){.imDud{font-size:2.0rem;line-height:2.7rem;margin: calc( * 2.7rem) 0 calc( * 2.7rem);}}
.imDud:after{content:'';width:6rem;margin-left:1.6rem;display:inline-block;border-bottom:.2rem solid #ff790a;vertical-align:middle;}
@media screen and (min-width:750px){.imDud{font-size:1.6rem;}}
/* sc-component-id: sc-VigVT */

.mAYMh{padding:0;color:#333333;font-weight:700;font-family:"Cabin",sans-serif;font-size:2.0rem;line-height:2.7rem;margin: calc( * 2.7rem) 0 calc( * 2.7rem);color:#ff790a;display:block;white-space:nowrap;overflow:hidden;text-transform:uppercase;-webkit-letter-spacing:.03125rem;-moz-letter-spacing:.03125rem;-ms-letter-spacing:.03125rem;letter-spacing:.03125rem;}
.mAYMh a{color:inherit;}
@media screen and (min-width:750px){.mAYMh{font-size:2.2rem;line-height:2.7rem;margin: calc( * 2.7rem) 0 calc( * 2.7rem);}}
.mAYMh:after{content:'';width:100%;margin-left:1.6rem;display:inline-block;border-bottom:.2rem solid #ff790a;vertical-align:middle;}
.kbgBDm{padding:0;color:#333333;font-weight:700;font-family:"Cabin",sans-serif;font-size:2.0rem;line-height:2.7rem;margin: calc( * 2.7rem) 0 calc( * 2.7rem);color:#0096a3;display:block;white-space:nowrap;overflow:hidden;text-transform:uppercase;-webkit-letter-spacing:.03125rem;-moz-letter-spacing:.03125rem;-ms-letter-spacing:.03125rem;letter-spacing:.03125rem;}
.kbgBDm a{color:inherit;}
@media screen and (min-width:750px){.kbgBDm{font-size:2.2rem;line-height:2.7rem;margin: calc( * 2.7rem) 0 calc( * 2.7rem);}}
.kbgBDm:after{content:'';width:100%;margin-left:1.6rem;display:inline-block;border-bottom:.2rem solid #0096a3;vertical-align:middle;}
/* sc-component-id: sc-jKJlTe */

.grnOXg{display:inline-block;text-align:center;width:12rem;}
.duyolt{display:inline-block;text-align:center;width:8rem;}
.iUGFdB{display:inline-block;text-align:center;width:6.8rem;}
.kchrFx{display:inline-block;text-align:center;width:4.5rem;}
.frMyzI{display:inline-block;text-align:center;width:8.7rem;}
.dNBkAH{display:inline-block;text-align:center;width:3rem;}
.dBXwGB{display:inline-block;text-align:center;width:6rem;}
.jBBLtP{display:inline-block;text-align:center;width:2rem;}
.cCJcGz{display:inline-block;text-align:center;width:4rem;}
.hQWriT{display:inline-block;text-align:center;width:3.2rem;}
.kgdHDr{display:inline-block;text-align:center;width:5rem;}
/* sc-component-id: sc-eNQAEJ */

.pOUAs{stroke-opacity:0;}
/* sc-component-id: sc-hMqMXs */

.jGXVVo{stroke-opacity:0;}
/* sc-component-id: sc-kEYyzF */

/* sc-component-id: sc-kkGfuU */

.bbJhIZ{float:left;width:4.5rem;height:4.5rem;overflow:hidden;border-radius:50%;margin-right:1rem;}
/* sc-component-id: sc-hSdWYo */

.ctrZeU{float:left;color:#333333;font-family:"Cabin","Roboto","Helvetica",Helvetica,Arial,sans-serif;}
/* sc-component-id: sc-eHgmQL */

.icqxQK{font-size:1.6rem;line-height:1.9rem;font-weight:300;}
/* sc-component-id: sc-cvbbAY */

.ilvEvq{font-size:1.2rem;font-weight:300;color:#333333;}
/* sc-component-id: sc-jWBwVP */

.vKtvN{margin-right:auto;margin-left:auto;}
@media only screen and (min-width:48em){.vKtvN{width:71rem;}}
@media only screen and (min-width:75em){.vKtvN{width:100rem;}}
@media only screen and (min-width:90em){.vKtvN{width:110rem;}}
.gchZPe{margin-right:auto;margin-left:auto;padding-right:2rem;padding-left:2rem;}
/* sc-component-id: sc-brqgnP */

.kURafE{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;}
@media only screen and (min-width:0em){.kURafE{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center;}}
.guhAFx{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;}
.klQKqv{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;}
@media only screen and (min-width:75em){.klQKqv{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center;}}
/* sc-component-id: sc-cMljjf */

.dkUxQz{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.dkUxQz{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:48em){.dkUxQz{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;display:block;}}
@media only screen and (min-width:75em){.dkUxQz{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%;display:block;}}
.ZIsaX{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:75em){.ZIsaX{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
.cxKonP{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:75em){.cxKonP{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%;display:block;}}
.czmNrp{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:75em){.czmNrp{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%;display:block;}}
@media only screen and (min-width:75em){.czmNrp{margin-left:8.333333333333334%;}}
.jMBSct{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.jMBSct{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
.jCMyqM{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.jCMyqM{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%;display:block;}}
.joZqej{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.joZqej{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:48em){.joZqej{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.joZqej{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
.kiutmC{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.kiutmC{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%;display:block;}}
.gDLaJI{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.gDLaJI{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:48em){.gDLaJI{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.gDLaJI{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;display:block;}}
.kcUHiR{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.kcUHiR{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.kcUHiR{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;display:block;}}
.YvPHm{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.YvPHm{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.YvPHm{-webkit-flex-basis:58.333333333333336%;-ms-flex-preferred-size:58.333333333333336%;flex-basis:58.333333333333336%;max-width:58.333333333333336%;display:block;}}
.kSgDfF{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.kSgDfF{-webkit-flex-basis:58.333333333333336%;-ms-flex-preferred-size:58.333333333333336%;flex-basis:58.333333333333336%;max-width:58.333333333333336%;display:block;}}
@media only screen and (min-width:75em){.kSgDfF{-webkit-flex-basis:33.333333333333336%;-ms-flex-preferred-size:33.333333333333336%;flex-basis:33.333333333333336%;max-width:33.333333333333336%;display:block;}}
.kvmpXo{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.kvmpXo{-webkit-flex-basis:58.333333333333336%;-ms-flex-preferred-size:58.333333333333336%;flex-basis:58.333333333333336%;max-width:58.333333333333336%;display:block;}}
.hbSSYd{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.hbSSYd{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.hbSSYd{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;display:block;}}
@media only screen and (min-width:90em){.hbSSYd{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;display:block;}}
.hxuOfX{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.hxuOfX{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:48em){.hxuOfX{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;display:block;}}
@media only screen and (min-width:75em){.hxuOfX{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;display:block;}}
.iSdQWe{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.iSdQWe{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.iSdQWe{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%;display:block;}}
@media only screen and (min-width:75em){.iSdQWe{margin-left:16.666666666666668%;}}
.dyThfA{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:75em){.dyThfA{-webkit-flex-basis:83.33333333333334%;-ms-flex-preferred-size:83.33333333333334%;flex-basis:83.33333333333334%;max-width:83.33333333333334%;display:block;}}
.bbNKSH{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
@media only screen and (min-width:0em){.bbNKSH{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.bbNKSH{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%;display:block;}}
@media only screen and (min-width:75em){.bbNKSH{margin-left:8.333333333333334%;}}
.hnqEHn{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;}
/* sc-component-id: sc-jAaTju */

.skiMw{padding:2rem;width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:2.0rem;line-height:2.7rem;font-weight:600;-webkit-letter-spacing:.05rem;-moz-letter-spacing:.05rem;-ms-letter-spacing:.05rem;letter-spacing:.05rem;text-align:center;color:#ffffff;background-color:#ff790a;}
@media screen and (min-width:48em){.skiMw{padding:2rem 10rem;}}
/* sc-component-id: sc-jDwBTQ */

.cIuGjx{position:relative;width:100%;height:0;padding-bottom:56.25%;}
.cIuGjx iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
/* sc-component-id: sc-fBuWsC */

.eFUmKq{font-size:1.6rem;line-height:1.9rem;margin-bottom:2.4rem;}
/* sc-component-id: sc-fMiknA */

.cjxcFo{font-family:"Helveticons";font-smoothing:antialiased;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;font-size:2rem;}
.cjxcFo::before{content:"\e7ad";}
.hfMOpa{font-family:"Helveticons";font-smoothing:antialiased;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;color:#fff;font-size:2rem;}
.hfMOpa::before{content:"\e7ad";}
.bzSPeT{font-family:"Helveticons";font-smoothing:antialiased;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;font-size:2.2rem;}
.bzSPeT::before{content:"\e7b7";}
.gISubW{font-family:"Helveticons";font-smoothing:antialiased;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;font-size:2.2rem;}
.gISubW::before{content:"\e86d";}
/* sc-component-id: sc-dVhcbM */

.idVFZq{text-align:center;display:inline-block;}
/* sc-component-id: sc-eqIVtm */

.jyIYzD{width:100%;font-size:1.3rem;}
.bbMeBQ{width:100%;font-size:1.6rem;}
.hfLtaq{width:100%;font-size:1.2rem;}
/* sc-component-id: sc-caSCKo */

.jiQjTR{padding-left:2rem;padding-right:2rem;}
/* sc-component-id: sc-keyframes-gjEMDO */
@-webkit-keyframes gjEMDO{from{-webkit-transform:rotate( 0deg );-ms-transform:rotate( 0deg );transform:rotate( 0deg );}to{-webkit-transform:rotate( 360deg );-ms-transform:rotate( 360deg );transform:rotate( 360deg );}}
@keyframes gjEMDO{from{-webkit-transform:rotate( 0deg );-ms-transform:rotate( 0deg );transform:rotate( 0deg );}to{-webkit-transform:rotate( 360deg );-ms-transform:rotate( 360deg );transform:rotate( 360deg );}}
/* sc-component-id: sc-jqCOkK */

.hrfepp{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;width:100%;margin:0;padding:0 calc(1/2 * 1rem);font-family:"Cabin","Roboto","Helvetica",Helvetica,Arial,sans-serif;background:#4a4a4a;white-space:nowrap;overflow:-moz-scrollbars-none;overflow:visible;-webkit-overflow-scrolling:touch!important;-ms-overflow-style:-ms-autohiding-scrollbar!important;-ms-overflow-style:none;position:relative;}
.hrfepp::-webkit-scrollbar{display:none;}
.fbELDd{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:100%;margin:0;padding:0 calc(1/2 * 1rem);font-family:"Cabin","Roboto","Helvetica",Helvetica,Arial,sans-serif;background:white;white-space:nowrap;overflow:-moz-scrollbars-none;overflow:auto;-webkit-overflow-scrolling:touch!important;-ms-overflow-style:-ms-autohiding-scrollbar!important;-ms-overflow-style:none;position:relative;}
.fbELDd::-webkit-scrollbar{display:none;}
/* sc-component-id: sc-uJMKN */

.dyUpNC{display:inline-block;padding:0 calc(1/2 * 1rem);border:0;outline:none;-webkit-text-decoration:none;text-decoration:none;color:#333333;font-family:"Cabin",sans-serif;font-size:1.6rem;line-height:1.9rem;font-weight:400;-webkit-transition:padding .2s;transition:padding .2s;background:transparent;}
.dyUpNC:hover{-webkit-text-decoration:none;text-decoration:none;}
.dyUpNC:hover{background:transparent;color:#333333;}
.dyUpNC:focus{background:rgba(0,0,0,.04);box-shadow:none;}
.dyUpNC:focus:hover{background:rgba(0,0,0,.04);}
.dyUpNC::after{width:0;display:block;position:absolute;bottom:0;left:0;height:.1rem;margin:0 1rem;background:#ff790a;content:'';-webkit-transition:width .2s ease-in-out;transition:width .2s ease-in-out;}
@media (min-width:750px){.dyUpNC{padding:0 calc(1/2 * 1rem);}.dyUpNC:hover::after{width:0;}}
.hchhFC{display:inline-block;padding: calc(1/2 * (3/2*2.4rem - 1.9rem) ) 1rem;border:0;outline:none;-webkit-text-decoration:none;text-decoration:none;color:#333333;font-family:"Cabin",sans-serif;font-size:1.6rem;line-height:1.9rem;font-weight:400;-webkit-transition:padding .2s;transition:padding .2s;background:transparent;}
.hchhFC:hover{-webkit-text-decoration:none;text-decoration:none;}
.hchhFC:hover{background:transparent;color:#333333;}
.hchhFC:focus{background:rgba(0,0,0,.04);box-shadow:none;}
.hchhFC:focus:hover{background:rgba(0,0,0,.04);}
.hchhFC::after{width:0;display:block;position:absolute;bottom:0;left:0;height:.1rem;margin:0 1rem;background:#ff790a;content:'';-webkit-transition:width .2s ease-in-out;transition:width .2s ease-in-out;}
@media (min-width:750px){.hchhFC{padding: calc(1/2 * ( 2*2.4rem - 1.9rem) ) 1rem;}.hchhFC:hover::after{width:calc( 100% - 2*1rem );}}
.dSUcVF{display:inline-block;padding: calc(1/2 * (3/2*2.4rem - 1.9rem) ) 1rem;border:0;outline:none;-webkit-text-decoration:none;text-decoration:none;color:#ff790a;font-family:"Cabin",sans-serif;font-size:1.6rem;line-height:1.9rem;font-weight:600;-webkit-transition:padding .2s;transition:padding .2s;background:transparent;}
.dSUcVF:hover{-webkit-text-decoration:none;text-decoration:none;}
.dSUcVF:hover{background:transparent;color:#ff790a;}
.dSUcVF:focus{background:rgba(0,0,0,.04);box-shadow:none;}
.dSUcVF:focus:hover{background:rgba(0,0,0,.04);}
.dSUcVF::after{width:0;display:block;position:absolute;bottom:0;left:0;height:.1rem;margin:0 1rem;background:#ff790a;content:'';-webkit-transition:width .2s ease-in-out;transition:width .2s ease-in-out;}
@media (min-width:750px){.dSUcVF{padding: calc(1/2 * ( 2*2.4rem - 1.9rem) ) 1rem;}.dSUcVF:hover::after{width:0;}}
.gASDGU{display:inline-block;padding: calc(1/2 * (3/2*2.4rem - 1.9rem) ) 1rem;border:0;outline:none;-webkit-text-decoration:none;text-decoration:none;color:#333333;font-family:"Cabin",sans-serif;font-size:1.6rem;line-height:1.9rem;font-weight:400;-webkit-transition:padding .2s;transition:padding .2s;background:transparent;}
.gASDGU:hover{-webkit-text-decoration:none;text-decoration:none;}
.gASDGU:hover{background:transparent;color:#ff790a;}
.gASDGU:focus{background:rgba(0,0,0,.04);box-shadow:none;}
.gASDGU:focus:hover{background:rgba(0,0,0,.04);}
.gASDGU::after{width:0;display:block;position:absolute;bottom:0;left:0;height:.1rem;margin:0 1rem;background:#ff790a;content:'';-webkit-transition:width .2s ease-in-out;transition:width .2s ease-in-out;}
@media (min-width:750px){.gASDGU{padding: calc(1/2 * ( 2*2.4rem - 1.9rem) ) 1rem;}.gASDGU:hover::after{width:0;}}
/* sc-component-id: sc-ktHwxA */

.ILWYA{background:#4a4a4a;position:relative;width:auto;display:block;}
.caEqwx{background:white;position:relative;width:auto;display:block;}
/* sc-component-id: sc-cIShpX */

.dSngsT{position:relative;vertical-align:middle;line-height:0;margin:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;z-index:8;display:inline-block;}
@media only screen and (min-width:48em){.dSngsT{display:inline-block;}}
@media only screen and (min-width:75em){.dSngsT{display:none;}}
.ICPtt{position:relative;vertical-align:middle;line-height:0;margin:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;z-index:8;display:inline-block;}
@media only screen and (min-width:0em){.ICPtt{display:none;}}
@media only screen and (min-width:75em){.ICPtt{display:inline-block;}}
.eVXrUR{position:relative;vertical-align:middle;line-height:0;margin:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;z-index:8;display:inline-block;}
html{font-size:62.5%;}
body{font-size:1.6rem;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}

.eqsom{text-align:center;text-transform:uppercase;width:14rem;cursor:pointer;}
.eqsom h1{margin-bottom:0.5rem;}
.eqsom .icon-wrapper{width:100%;}
.eqsom .icon-wrapper:before{content:"";width:100%;border-bottom:0.3rem solid #ff790a;display:block;margin-bottom:1.7rem;}
/* sc-component-id: sc-kTUwUJ */

/* sc-component-id: sc-kPVwWT */

.kYzIEa{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;padding:0;}
@media only screen and (min-width:0em){.kYzIEa{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%;display:block;}}
/* sc-component-id: sc-iQKALj */

.ilORdV{width:100%;display:block;position:absolute;-webkit-filter:blur(5.0rem);filter:blur(5.0rem);}
.ilORdV img{display:block;max-width:100%;}
.ilORdV.loaded{-webkit-filter:blur(0);filter:blur(0);-webkit-transition:filter .8s ease-in-out;transition:filter .8s ease-in-out;}
/* sc-component-id: sc-bwCtUz */

.dPPnUX{position:relative;background-color:#ececec;display:block;padding-bottom:66%;width:100%;overflow:hidden;margin:0;}
/* sc-component-id: sc-hrWEMg */

.lcUnie{display:block;max-width:none;width:100%;padding:0;opacity:1;height:100%;}
/* sc-component-id: sc-eTuwsz */

.lhPSoV{padding:0;margin:0 auto;}
@media screen and (min-width:){.lhPSoV{padding:1% 10%;}}
/* sc-component-id: sc-gwVKww */

.kbRblS{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;margin-top:2rem;}
@media only screen and (min-width:0em){.kbRblS{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.kbRblS{-webkit-flex-basis:66.66666666666667%;-ms-flex-preferred-size:66.66666666666667%;flex-basis:66.66666666666667%;max-width:66.66666666666667%;display:block;}}
@media only screen and (min-width:75em){.kbRblS{margin-left:16.666666666666668%;}}
/* sc-component-id: sc-hXRMBi */

.ieAKaz{margin:3rem 0;}
/* sc-component-id: sc-epnACN */

.iXcbis{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;font-weight:300;}
@media only screen and (min-width:0em){.iXcbis{-webkit-flex-basis:41.66666666666667%;-ms-flex-preferred-size:41.66666666666667%;flex-basis:41.66666666666667%;max-width:41.66666666666667%;display:block;}}
/* sc-component-id: sc-iQNlJl */

.iXFkPY{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;font-weight:bold;}
@media only screen and (min-width:0em){.iXFkPY{-webkit-flex-basis:58.333333333333336%;-ms-flex-preferred-size:58.333333333333336%;flex-basis:58.333333333333336%;max-width:58.333333333333336%;display:block;}}
/* sc-component-id: sc-bsbRJL */

.dMOfmu{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;}
@media only screen and (min-width:0em){.dMOfmu{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center;}}
.dMOfmu.dMOfmu{text-align:left;}
/* sc-component-id: sc-hZSUBg */

.oxFkk{background:#ff790a;border:none;height:3.7rem;display:inline-block;border-radius:10%;}
.oxFkk > span{color:#fff;}
/* sc-component-id: sc-cMhqgX */

.fHffkD{width:3.8rem;display:inline-block;height:3.7rem;text-align:center;margin:0 1.0rem;vertical-align:top;border-radius:.2rem;background-color:#ffffff;box-shadow:inset 0 0 .2rem 0 rgba(111,108,108,0.5);}
.fHffkD > span{color:#949494;font-size:2.4rem;margin:.3rem .6rem;display:inline-block;}
/* sc-component-id: sc-iuJeZd */

.dztHeH{font-size:1.8rem;color:#333333;font-weight:normal;margin-left:1.4rem;-webkit-letter-spacing:.0625rem;-moz-letter-spacing:.0625rem;-ms-letter-spacing:.0625rem;letter-spacing:.0625rem;}
/* sc-component-id: sc-esOvli */

.hzQRsO > span:first-child{color:#ff790a;vertical-align:sub;margin-right:1.0rem;cursor:pointer;}
.hzQRsO > span{-webkit-letter-spacing:.0625rem;-moz-letter-spacing:.0625rem;-ms-letter-spacing:.0625rem;letter-spacing:.0625rem;font-size:2rem;}
/* sc-component-id: sc-cLQEGU */

.imyQeF{list-style:none;padding:0;font-family:Cabin;counter-increment:item;margin-bottom:2.5rem;line-height:2.5rem;position:relative;padding-left:5rem;}
.imyQeF > *::before{content:counter(item);font-family:Cabin;font-size:3.8rem;line-height:3.8rem;display:inline-block;position:absolute;left:0.05rem;top:0.5rem;}
/* sc-component-id: sc-gqPbQI */

.byQXss{white-space:nowrap;}
/* sc-component-id: sc-hORach */

.bEpTkD{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;padding:2.4rem 0;}
@media only screen and (min-width:0em){.bEpTkD{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.bEpTkD{-webkit-flex-basis:41.66666666666667%;-ms-flex-preferred-size:41.66666666666667%;flex-basis:41.66666666666667%;max-width:41.66666666666667%;display:block;}}
.bEpTkD.bEpTkD{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
/* sc-component-id: sc-bMVAic */

.kaozli{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;padding-top:calc( 1/2 * 0);padding-bottom:calc( 1/2 * 0);}
/* sc-component-id: sc-GMQeP */

.ezlFBY{background-color:#4a4a4a;color:#ffffff;padding:10.3rem 0 6.2rem;font-family:"Cabin","Roboto","Helvetica",Helvetica,Arial,sans-serif;font-size:1.4rem;}
/* sc-component-id: sc-exAgwC */

.AfVYG{font-size:1.4rem;text-transform:uppercase;font-weight:bold;margin:0;}
/* sc-component-id: sc-cQFLBn */

.gQuUlz{list-style:none;margin:0;line-height:1.79;padding:0;}
/* sc-component-id: sc-gojNiO */

.ggsKfk{font-size:2.5rem;-webkit-text-decoration:none;text-decoration:none;color:inherit;}
.ggsKfk::after{content:'';display:block;height:1.3rem;}
/* sc-component-id: sc-daURTG */

.jdXvmy{padding-top:1rem;}
/* sc-component-id: sc-bXGyLb */

.bCydfk{height:2.8rem;}
.kVEXqs{height:5rem;}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,800');
*{box-sizing:border-box;}
body{color:#222;padding:0;margin:0;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;font-weight:300;font-style:normal;line-height:1.5;position:relative;cursor:auto;}
*{box-sizing:border-box;}
body{color:#222;padding:0;margin:0;font-family:"Roboto","Helvetica",Helvetica,Arial,sans-serif;}
/* sc-component-id: sc-global-5147631 */
@font-face{font-family:'Helveticons';font-style:normal;font-weight:normal;src:url('https://styleguide.dagbladet.no/fonts/helveticons.woff') format('woff');}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,800');
*{box-sizing:border-box;}
body{color:#222;padding:0;margin:0;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;font-weight:300;font-style:normal;line-height:1.5;position:relative;cursor:auto;}
*{box-sizing:border-box;}
body{font-family:"Source Sans Pro",sans-serif;}


.bvKwPd{height:3.8rem;width:56.4rem;float:right;padding:1.1rem 1.5rem .9rem;font-size:1.5rem;display:block;box-sizing:border-box;margin:0.8rem 0;width:56rem;height:undefinedrem;display:none !important;margin-right:1.9rem;position:relative;border:1px solid '#b4b4b4';}
.bvKwPd::-webkit-input-placeholder{color:gray;}
.bvKwPd::-moz-placeholder{color:gray;}
.bvKwPd:-ms-input-placeholder{color:gray;}
.bvKwPd::placeholder{color:gray;}
@media only screen and (min-width:0em){.bvKwPd{display:none;}}
@media only screen and (min-width:75em){.bvKwPd{display:block;}}
.bvKwPd::-webkit-input-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.bvKwPd::-moz-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.bvKwPd:-ms-input-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.bvKwPd::placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.euFLLx{height:3.8rem;width:56.4rem;float:right;padding:1.1rem 1.5rem .9rem;font-size:1.5rem;display:block;box-sizing:border-box;margin:0.8rem 0;width:40rem;height:4.6rem;display:block;margin-right:1.9rem;position:relative;border:1px solid '#b4b4b4';}
.euFLLx::-webkit-input-placeholder{color:gray;}
.euFLLx::-moz-placeholder{color:gray;}
.euFLLx:-ms-input-placeholder{color:gray;}
.euFLLx::placeholder{color:gray;}
@media only screen and (min-width:48em){.euFLLx{display:block;}}
@media only screen and (min-width:75em){.euFLLx{display:none;}}
.euFLLx::-webkit-input-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.euFLLx::-moz-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.euFLLx:-ms-input-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.euFLLx::placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
/* sc-component-id: RecipeSearchField__SearchFieldWrapper-mjw5ue-0 */

.gOTJPB{position:relative;overflow:hidden;}
/* sc-component-id: RecipeSearchField__SearchFieldBgIcon-mjw5ue-1 */

.eRNoey{display:none;color:#ff790a;position:absolute;right:4rem;top:1.6rem;}
.hVLGvI{display:block;color:#000;position:absolute;right:4rem;top:1.6rem;}
/* sc-component-id: sc-dUjcNx */

.eTlKpn{box-shadow:0 0.2rem 0.4rem 0 rgba(203,203,203,0.5);}
@media screen and (max-width:1200px){.eTlKpn{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:0;display:none;}.eTlKpn > li{width:100%;border-bottom:1px solid #dcdcdc;padding:2rem 0;}}
/* sc-component-id: OppskriftHeader__LogoLink-s1o27nqk-0 */

.kkZrlP{position:absolute;top:0;left:9rem;}
@media screen and (max-width:1200px){.kkZrlP{left:-9rem;}}
/* sc-component-id: sc-gHboQg */

.dlLhwx{position:relative;vertical-align:middle;line-height:0;margin:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;z-index:8;display:inline-block;-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start;z-index:9;margin-right:auto;}
/* sc-component-id: OppskriftHeader__SeparatedLinkBarLink-s1o27nqk-1 */

.OVwio{margin:0 4rem;}
@media screen and (max-width:1200px){.OVwio{font-size:1.8rem !important;}}
/* sc-component-id: OppskriftHeader__Logo-s1o27nqk-2 */

@media screen and (max-width:1200px){.fsYoci{display:none;}}
/* sc-component-id: OppskriftHeader__MobileLogo-s1o27nqk-3 */

@media screen and (min-width:1200px){.kOnopu{display:none;}}
/* sc-component-id: OppskriftHeader__SearchIcon-s1o27nqk-4 */

.kBYCDz{display:block;padding:1.67rem 1.8rem;cursor:pointer;}
@media screen and (max-width:1200px){.kBYCDz{display:none;}}
/* sc-component-id: OppskriftHeader__DropdownMenuButton-s1o27nqk-5 */

.kWjITT{background-color:transparent;color:white;border:0;padding:1.5rem 0;margin-right:2rem;font-size:4rem;font-weight:bold;-webkit-transform:scaleX(1.7);-ms-transform:scaleX(1.7);transform:scaleX(1.7);}
.kWjITT:focus{outline:none;}
/* sc-component-id: FrontPage__FrontSection-v6ebil-0 */

.kunEdO{padding-top:calc(2 * 2.4rem);padding-bottom:calc(2 * 2.4rem);background-color:#fff;}
/* sc-component-id: FrontPage__Container-v6ebil-1 */

.gjYxTm{position:relative;width:100%;height:0;padding-bottom:56.25%;}
.gjYxTm iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
/* sc-component-id: FrontPage__NoWrap-v6ebil-2 */

.bCJMBv{white-space:nowrap;}
/* sc-component-id: sc-eilVRo */

.fojrMh{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;padding:0;}
@media only screen and (min-width:0em){.fojrMh{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.fojrMh{-webkit-flex-basis:58.333333333333336%;-ms-flex-preferred-size:58.333333333333336%;flex-basis:58.333333333333336%;max-width:58.333333333333336%;display:block;}}
.kKqQeX{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;padding:0;}
@media only screen and (min-width:0em){.kKqQeX{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%;display:block;}}
@media only screen and (min-width:75em){.kKqQeX{-webkit-flex-basis:58.333333333333336%;-ms-flex-preferred-size:58.333333333333336%;flex-basis:58.333333333333336%;max-width:58.333333333333336%;display:block;}}
.bSRfQi{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;padding:0;}
@media only screen and (min-width:0em){.bSRfQi{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.bSRfQi{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;display:block;}}
/* sc-component-id: sc-eerKOB */

.dtIAuV{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;padding:2.4rem 0;}
@media only screen and (min-width:0em){.dtIAuV{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.dtIAuV{-webkit-flex-basis:41.66666666666667%;-ms-flex-preferred-size:41.66666666666667%;flex-basis:41.66666666666667%;max-width:41.66666666666667%;display:block;}}
.dtIAuV.dtIAuV{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;outline:0.1rem solid #ded9d9;padding:0;}
.iuIrTA{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;padding:2.4rem 0;}
@media only screen and (min-width:0em){.iuIrTA{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.iuIrTA{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;display:block;}}
.iuIrTA.iuIrTA{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;outline:0.1rem solid #ded9d9;padding:0;}
/* sc-component-id: sc-emmjRN */

.llpWVy{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;padding-top:2rem;padding-bottom:2rem;}
.jaxSsO{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;padding-top:2rem;padding-bottom:2rem;}
.igfYml{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;padding-top:2rem;padding-bottom:2rem;}
@media only screen and (min-width:75em){.igfYml{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center;}}

@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
*{box-sizing:border-box;}
body{color:#222;padding:0;margin:0;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;font-weight:300;font-style:normal;line-height:1.5;position:relative;cursor:auto;}
*{box-sizing:border-box;}
body{padding:0;margin:0;font-family:"Cabin","Roboto","Helvetica",Helvetica,Arial,sans-serif;position:relative;cursor:auto;}
nav{text-transform:uppercase;}


.gwerrm{padding-top:calc(2 * 2.4rem);padding-bottom:calc(2 * 2.4rem);background-color:#ECECEC;margin-top:5rem;}
/* sc-component-id: RelatedRecipes__NoWrap-toiei3-1 */

.khWPHo{white-space:nowrap;}
/* sc-component-id: sc-cpmLhU */

.keoVSr{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem;padding:2.4rem 0;}
@media only screen and (min-width:0em){.keoVSr{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;display:block;}}
@media only screen and (min-width:75em){.keoVSr{-webkit-flex-basis:41.66666666666667%;-ms-flex-preferred-size:41.66666666666667%;flex-basis:41.66666666666667%;max-width:41.66666666666667%;display:block;}}
.keoVSr.keoVSr{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
/* sc-component-id: sc-dymIpo */

.jggwcL{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;padding-top:2.1rem;padding-bottom:2.1rem;}
/* sc-component-id: sc-bnXvFD */

.kGHMxj{height:3.8rem;width:56.4rem;float:right;padding:1.1rem 1.5rem .9rem;font-size:1.5rem;display:block;box-sizing:border-box;margin:0.8rem 0;width:56rem;height:undefinedrem;display:none !important;margin-right:1.9rem;position:relative;border:1px solid '#b4b4b4';}
.kGHMxj::-webkit-input-placeholder{color:gray;}
.kGHMxj::-moz-placeholder{color:gray;}
.kGHMxj:-ms-input-placeholder{color:gray;}
.kGHMxj::placeholder{color:gray;}
@media only screen and (min-width:0em){.kGHMxj{display:none;}}
@media only screen and (min-width:75em){.kGHMxj{display:block;}}
.kGHMxj::-webkit-input-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.kGHMxj::-moz-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.kGHMxj:-ms-input-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.kGHMxj::placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.TXRpF{height:3.8rem;width:56.4rem;float:right;padding:1.1rem 1.5rem .9rem;font-size:1.5rem;display:block;box-sizing:border-box;margin:0.8rem 0;width:40rem;height:4.6rem;display:block;margin-right:1.9rem;position:relative;border:1px solid '#b4b4b4';}
.TXRpF::-webkit-input-placeholder{color:gray;}
.TXRpF::-moz-placeholder{color:gray;}
.TXRpF:-ms-input-placeholder{color:gray;}
.TXRpF::placeholder{color:gray;}
@media only screen and (min-width:48em){.TXRpF{display:block;}}
@media only screen and (min-width:75em){.TXRpF{display:none;}}
.TXRpF::-webkit-input-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.TXRpF::-moz-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.TXRpF:-ms-input-placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
.TXRpF::placeholder{text-transform:uppercase;color:'#b4b4b4';opacity:0.5;}
/* sc-component-id: sc-gFaPwZ */

.fDdpJx{box-shadow:0 0.2rem 0.4rem 0 rgba(203,203,203,0.5);}
@media screen and (max-width:1200px){.fDdpJx{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:0;display:none;}.fDdpJx > li{width:100%;border-bottom:1px solid #dcdcdc;padding:2rem 0;}}
/* sc-component-id: sc-fhYwyz */

.jiCvkt{position:relative;vertical-align:middle;line-height:0;margin:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;z-index:8;display:inline-block;-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start;z-index:9;margin-right:auto;}
